/* CustomNavbar.css */

.header-menu {
    background-color: #352F44 !important;
    color: #fff;
}

.navbar-brand a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-link a {
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-link a:hover {
    color: #007bff;
    /* Change color on hover */
}

.prakriti-logo {
    height: 75px;
    width: 75px;
    margin-right: 15px;
}

.prakriti-classname a {
    /* font-style:; */
    font-size: xx-large;
}

/* You can add more styles to customize the Navbar further */